body{
    background-color: rgb(56, 56, 56) !important;
    font-family: 'Indie Flower', cursive !important;
    font-weight: bolder !important;
    font-size: x-large !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: xx-small;
  }